<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<head>
<meta charset="UTF-8" />
<title>Spring Boot Thymeleaf Application - Bootstrap Radio
	Buttons</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script type="text/javascript" th:src="@{/js/include-html.js}"></script>
</head>

<body>

	<!-- Navigation -->
	<div data-include="header"></div>
	<div class="container">
		<h2 th:text="'El usuario ' + ${nofound} + ' no existe'"></h2>
		<hr>
		
			<!-- -*********************************************** -->
<!--    <a class="btn btn-primary" type="submit"  >Enviar</a> -->
<a class="btn btn-primary" th:href="@{/questions/home}">Regresar</a>
<!-- 		<div sec:authorize="hasRole('ROLE_ADMIN')"> <a class="btn btn-primary" th:href="@{/questions/home}">Regresar</a></div> -->

	</div>

</body>

</html>